.video-with-text-section {
  max-width: 1605px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  padding-top: 140px;
  padding-bottom: 151px;
  justify-content: space-between;
  align-items: center;
}

.video-with-text-section .video-wrapper {
  max-width: 38.47%;
  width: 100%;
  position: relative;
}

.video-with-text-section .video-wrapper video {
  object-fit: fill;
  width: 100%;
  border-radius: 4px;
}

.video-with-text-section .video-wrapper #playVitButton {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.video-with-text-section .video-wrapper #playVitButton button {
  width: 101px;
  height: 101px;
  z-index: 2;
  border-radius: 99px;
  border: none;
  color: #d9d9d9;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .3s ease;
  cursor: pointer;
}

.video-with-text-section .video-wrapper #playVitButton button:hover {
  color: #000;
}

.video-with-text-section .video-wrapper #playVitButton button svg {
  margin-left: 10px;
}

.video-with-text-section .text-wrapper {
  max-width: 52.91%;
  width: 100%;
}

.video-with-text-section .text-wrapper .content.rte {
  margin-top: 20px;
}

@media screen and (max-width: 1800px) {
  .video-with-text-section {
    padding: 95px 70px;
  }
}

@media screen and (max-width: 990px) {
  .video-with-text-section {
    flex-direction: column;
    gap: 20px;
    padding: 50px 40px;
  }

  .video-with-text-section .video-wrapper {
    max-width: 70%;
    width: 100%;
  }

  .video-with-text-section .text-wrapper {
    max-width: 100%;
  }

  .video-with-text-section .video-wrapper #playVitButton button {
    width: 60px;
    height: 60px;
  }

  .video-with-text-section .video-wrapper #playVitButton button svg {
    width: 20px;
    height: 20px;
    margin-left: 3px;
  }
}

@media screen and (max-width: 749px) {
  .video-with-text-section .video-wrapper {
    max-width: 100%;
  }
}

@media screen and (max-width: 425px) {
  .video-with-text-section {
    padding: 30px 20px;
  }
}