header.header {
  max-width: 1440px !important;
  padding: 20px 70px;
  margin-left: auto !important;
  margin-right: auto !important;
}

sticky-header {
  border-color: transparent;
  transition: all 0.3s ease;
}

.header__icon--account,
.header__icons .header__search {
  display: none !important;
}

.header__icon.header__icon--cart {
  color: #fff;
}

header .list-menu--inline {
  display: flex;
  justify-content: end;
  gap: 30px;
}

header .header__icon .svg-wrapper {
  width: 38px;
  height: 38px;
}

header .header--middle-left {
  column-gap: 0px;
}

sticky-header.header-wrapper--border-bottom {
  border-bottom: unset;
}

.header__icon--menu {
  color: #fff;
}

.section-header.shopify-section-group-header-group {
  z-index: 20;
}

.header__active-menu-item {
  color: #F9E97A;
}

@media screen and (max-width: 1800px) {
  header.header {
    max-width: 1440px !important;
    padding: 20px 70px;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  header.header .header__heading-logo-wrapper {
    width: 150px;
  }
}

@media screen and (max-width: 1280px) {
  .header:not(.drawer-menu).page-width {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (max-width: 1105px) {
  header .header__inline-menu {
    display: none !important;
  }

  header .menu-drawer-container,
  header header-drawer {
    display: flex;
  }

  header.header {
    display: flex;
    justify-content: space-between;
  }

  header .header__icon .svg-wrapper {
    width: 25px;
    height: 25px;
  }
}

@media screen and (max-width: 425px) {
  .header:not(.drawer-menu).page-width {
    padding: 10px 20px;
  }
}