.static-reviews-section {
  max-width: 1571px;
  padding: 159px 50px 140px;
  margin: 0 auto;
}

.static-reviews-section .reviews-wrapper {
  position: relative;
  padding-left: 79px;
  padding-right: 79px;
  width: unset;
  margin-top: 93px;
}

.static-reviews-section .reviews-swiper-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.static-reviews-section .swiper-button-prev:after,
.static-reviews-section .swiper-button-next:after {
  display: none;
}

.static-reviews-section .swiper-slide {
  border-radius: 4px;
  background: #fff;
}

.static-reviews-section .swiper-slide .reviews-card {
  background: #FCFCFC;
  padding: 67px 38px 37px;
  border-radius: 4px;
}

.static-reviews-section .swiper-slide .reviews-card .profile-name-img-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 36px;
}

.static-reviews-section .swiper-slide .reviews-card .profile-name-img-wrapper .img-wrapper {
  width: 78px;
  height: 78px;
  flex-shrink: 0;
  border-radius: 99px;
  background: #D9D9D9;
}

.static-reviews-section .swiper-slide .reviews-card .profile-name-img-wrapper .img-wrapper img {
  width: 100%;
}

@media screen and (max-width: 1800px) {
  .static-reviews-section {
    padding: 95px 40px;
  }

  .static-reviews-section .reviews-wrapper {
    margin-top: 40px;
  }

  .static-reviews-section .swiper-slide .reviews-card {
    padding: 20px;
  }

  .static-reviews-section .swiper-slide .reviews-card .profile-name-img-wrapper {
    margin-top: 20px;
  }

  .static-reviews-section .swiper-slide .reviews-card .profile-name-img-wrapper .img-wrapper {
    width: 60px;
    height: 60px;
  }
}

@media screen and (max-width: 1280px) {
  .static-reviews-section {
    padding: 70px 40px;
  }
}

@media screen and (max-width: 990px) {
  .static-reviews-section {
    padding: 50px 40px;
  }
}

@media screen and (max-width: 425px) {
  .static-reviews-section {
    padding: 50px 20px;
  }

  .static-reviews-section .reviews-wrapper {
    padding-left: 30px;
    padding-right: 30px;
  }

  .static-reviews-section .swiper-button-next,
  .static-reviews-section .swiper-button-prev {
    width: 15px;
  }

  .static-reviews-section .swiper-button-prev {
    left: 0px;
    
  }

  .static-reviews-section .swiper-button-next {
    right: 0px;
  }
}