.tabbed-content-section .tabbed-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 101px;
  flex-wrap: wrap;
}

.tabbed-content-section .tabbed-content-wrapper {
  max-width: 1647px;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: auto;
  margin-right: auto;
}

.tabbed-content-section .tabbed-content-wrapper .tab-content {
  display: none;
}

.tabbed-content-section .tabbed-content-wrapper .tab-content.active {
  display: block;
}

.tabbed-content-section .tabbed-content-wrapper .build-your-book {
      max-width: 1000px;
    margin: 20px auto 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.tabbed-content-section .tabbed-content-wrapper .build-your-book .detail-wrapper {
  max-width: 40%;
  width: 100%;
  margin-top: 127px;
}

.tabbed-content-section .tabbed-content-wrapper .build-your-book .image-wrapper {
  max-width: 41.10%;
  width: 100%;
}

.tabbed-content-section .tabbed-content-wrapper .build-your-book .image-wrapper img {
  width: 100%;
}

.tabbed-content-section .tabbed-content-wrapper .build-your-book .product-form {
  max-width: 24.19%;
  width: 100%;
  margin-top: 127px;
}

.tabbed-content-section .variant-picker-wrapper .tabbed_content-variant_select {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 40px;
}

.tabbed-content-section .variant-picker-wrapper .tabbed_content-variant_select .product-form__input .select:before,
.tabbed-content-section .variant-picker-wrapper .tabbed_content-variant_select .product-form__input .select:after {
  display: none !important;
}

.tabbed-content-section .variant-picker-wrapper .tabbed_content-variant_select .product-form__input .select select:focus {
  box-shadow: none;
}

.tabbed-content-section .variant-picker-wrapper .tabbed_content-variant_select .product-form__input .select select {
  padding-left: 0px;
  padding-right: 0px;
}

.tabbed-content-section .variant-picker-wrapper .tabbed_content-variant_select .product-form__input .select .svg-wrapper {
  width: 24px;
  height: 12px;
}

.tabbed-content-section .variant-picker-wrapper .tabbed_content-variant_select .product-form__input {
  border-bottom: solid 2px #000;
}

.tabbed-content-section .tabbed-content-wrapper .how-it-works {
  max-width: 1476px;
  width: 100%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 128px;
  justify-content: space-between;
}

.tabbed-content-section .tabbed-content-wrapper .how-it-works .media-wrapper {
  max-width: 40.85%;
  width: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
}

.tabbed-content-section .tabbed-content-wrapper .how-it-works .media-wrapper #playButton {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.50);
}

.tabbed-content-section .tabbed-content-wrapper .how-it-works .media-wrapper button {
  width: 101px;
  height: 101px;
  z-index: 2;
  border-radius: 99px;
  border: none;
  color: #D9D9D9;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  cursor: pointer;
}

.tabbed-content-section .tabbed-content-wrapper .how-it-works .media-wrapper button svg {
  margin-left: 10px;
}

.tabbed-content-section .tabbed-content-wrapper .how-it-works .media-wrapper button:hover {
  color: #000;
}

.tabbed-content-section .tabbed-content-wrapper .how-it-works .media-wrapper video {
  object-fit: fill;
  width: 100%;
  border-radius: 4px;
}

.tabbed-content-section .tabbed-content-wrapper .how-it-works .text-wrapper {
  max-width: 50.81%;
  width: 100%;
}

.tabbed-content-section .tabbed-content-wrapper .how-it-works .text-wrapper.full-w {
  max-width: 100%;
}

.tabbed-content-section .tabbed-content-wrapper .how-it-works .text-wrapper h4 {
  margin-bottom: 38px;
}

.tabbed-content-section .tabbed-content-wrapper .how-it-works .text-wrapper .steps-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.tabbed-content-section .tabbed-content-wrapper .how-it-works .text-wrapper .steps-wrapper .step {
  display: flex;
}

.tabbed-content-section .tabbed-content-wrapper .how-it-works .text-wrapper .steps-wrapper .step .step-title {
  width: 97px;
  flex-shrink: 0;
}

.tabbed-content-section .pre-made-books {
  max-width: 1474px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 76px;
}

.tabbed-content-section .pre-made-books .products-grid-wrapper {
  display: flex;
  row-gap: 86px;
  width: 100%;
  margin-left: -59px;
  flex-wrap: wrap;
  width: calc(100% + 59px);
}

.tabbed-content-section .pre-made-books .products-grid-wrapper .pre-made-product-card {
  padding-left: 59px;
  max-width: 33.33333%;
}

.tabbed-content-section .pre-made-books .products-grid-wrapper .pre-made-product-card .media-wrapper {
  width: 100%;
}

.tabbed-content-section .pre-made-books .products-grid-wrapper .pre-made-product-card .media-wrapper img {
  width: 100%;
}

.tabbed-content-section .pre-made-books .products-grid-wrapper .details-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}

.tabbed-content-section .faq {
  max-width: 1488px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 97px;
}

.tabbed-content-section .faq .faq-grid {
  display: flex;
  margin-left: -102px;
  width: calc(100% + 102px);
  flex-wrap: wrap;
  row-gap: 54px;
}

.tabbed-content-section .faq .faq-grid .faq-wrapper {
  width: 50%;
  padding-left: 102px;
}

.tabbed-content-section .form-detail-wrapper {
  display: none;
}

.tabbed-content-section .product-form a.cta-btn,
.tabbed-content-section .tabbed-content-wrapper .how-it-works .text-wrapper .cta,
.tabbed-content-section .pre-made-books .products-grid-wrapper .details-wrapper a {
  transition: all 0.3s ease;
}

.tabbed-content-section .product-form a.cta-btn:hover,
.tabbed-content-section .tabbed-content-wrapper .how-it-works .text-wrapper .cta:hover {
  background: #F9E97A;
}

.tabbed-content-section .pre-made-books .products-grid-wrapper .details-wrapper a:hover {
  color: #fff;
  background: #000;
}

.tabbed-content-section .examples {
  max-width: 1412px;
  margin-top: 0px;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}

.tabbed-content-section .examples .img-wrapper {
  width: 33.33333%;
  padding: 9px;
}

.tabbed-content-section .examples .img-wrapper img {
  width: 100%;
}

.tabbed-content-section .tab-product {
  max-width: 1460px;
  display: flex;
  align-items: center;
}

.tabbed-content-section .tab-product .image-wrapper {
  max-width: 44.11%;
  width: 100%;
}

.tabbed-content-section .tab-product .image-wrapper img {
  width: 100%;
}

.tabbed-content-section .tab-product .details-wrapper {
  max-width: 55.89%;
  width: 100%;
  padding-left: 63px;
}

.tabbed-content-section .tab-product .details-wrapper .details-wrapper-content {
  margin-top: 18px;
}

.tabbed-content-section .tab-product .details-wrapper .details-button-wrapper {
  margin-top: 68px;
}

.tabbed-content-section .tab-product .details-wrapper .details-button-wrapper .details-button {
  border-radius: 5px;
  background: #000;
  padding: 15px 37px;
}

.tabbed-content-section.corp-orders .faq {
  margin-top: 0px;
}

.tabbed-content-section.corp-orders .tabbed-content-wrapper .how-it-works {
  margin-top: 0px;
}

.tabbed-content-section.corp-orders .tabbed-button-wrapper {
  padding-bottom: 60px;
}

@media screen and (max-width: 1800px) {
  .tabbed-content-section .tabbed-button-wrapper {
    gap: 40px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .tabbed-content-section .tabbed-content-wrapper {
    padding-left: 70px;
    padding-right: 70px;
  }

  .tabbed-content-section .tabbed-content-wrapper .build-your-book .detail-wrapper,
  .tabbed-content-section .tabbed-content-wrapper .build-your-book .product-form {
    margin-top: 70px;
  }

  .tabbed-content-section .variant-picker-wrapper .tabbed_content-variant_select {
    margin-top: 20px;
  }

  .tabbed-content-section .tabbed-content-wrapper .how-it-works {
    margin-top: 40px;
  }

  .tabbed-content-section .tabbed-content-wrapper .how-it-works .text-wrapper h4 {
    margin-bottom: 20px;
  }

  .tabbed-content-section .pre-made-books {
    padding-left: 80px;
    padding-right: 80px;
    margin-top: 40px;
  }

  .tabbed-content-section .pre-made-books .products-grid-wrapper .details-wrapper p,
  .tabbed-content-section .faq .faq-grid .faq-wrapper h5 {
    margin-bottom: 20px;
  }

  .tabbed-content-section .pre-made-books .products-grid-wrapper .details-wrapper h3 {
    margin-bottom: 0px;
  }

  .tabbed-content-section .faq {
    margin-top: 40px;
  }

  .tabbed-content-section .faq .faq-grid {
    row-gap: 40px;
  }
}

@media screen and (max-width: 1280px) {
  .tabbed-content-section .tabbed-content-wrapper {
    padding-left: 40px;
    padding-right: 40px;
  }

  .tabbed-content-section .product-form a.cta-btn {
    width: 100%;
  }

  .tabbed-content-section .form-detail-wrapper {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
  }


  .tabbed-content-section .tabbed-content-wrapper .build-your-book .image-wrapper {
    max-width: 40%;
  }

  .tabbed-content-section .tabbed-content-wrapper .build-your-book .product-form {
    max-width: 55%;
    margin-top: 20px;
  }

  .tabbed-content-section .tabbed-content-wrapper .build-your-book .product-form p {
    margin-top: 0px;
  }

  .tabbed-content-section .build-your-book {
    margin-top: 20px;
  }

  .tabbed-content-section .tabbed-content-wrapper .how-it-works {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .tabbed-content-section .tabbed-content-wrapper .how-it-works .text-wrapper {
    max-width: 100%;
  }

  .tabbed-content-section .tabbed-content-wrapper .how-it-works .media-wrapper {
    max-width: 70%;
  }

  .tabbed-content-section .pre-made-books {
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 20px;
  }

  .tabbed-content-section .pre-made-books .products-grid-wrapper {
    row-gap: 30px;
  }

  .tabbed-content-section .pre-made-books .products-grid-wrapper .details-wrapper {
    margin-top: 0px;
  }

  .tabbed-content-section .faq .faq-grid .faq-wrapper h5 {
    margin-bottom: 0px;
  }

  .tabbed-content-section .faq .faq-grid .faq-wrapper {
    padding-left: 40px;
  }

  .tabbed-content-section .faq .faq-grid {
    margin-left: -40px;
    width: calc(100% + 40px);
  }
}

@media screen and (max-width: 990px) {
  .tabbed-content-section .tabbed-content-wrapper .build-your-book .detail-wrapper {
    max-width: 100%;
}
  .tabbed-content-section .tabbed-content-wrapper .build-your-book {
    flex-direction: column;
    align-items: center;
  }

  .tabbed-content-section .tabbed-content-wrapper .build-your-book .product-form {
    max-width: 100%;
  }

  .tabbed-content-section .tabbed-content-wrapper .build-your-book .image-wrapper {
    max-width: 450px;
  }

  .tabbed-content-section .pre-made-books .products-grid-wrapper .pre-made-product-card {
    max-width: 50%;
  }

  .tabbed-content-section .faq .faq-grid {
    margin-left: 0px;
    width: 100%;
  }

  .tabbed-content-section .faq .faq-grid .faq-wrapper {
    padding-left: 0px;
    width: 100%;
  }

  .tabbed-content-section .tabbed-content-wrapper .how-it-works .media-wrapper {
    max-width: 100%;
  }

  .tabbed-content-section .tabbed-content-wrapper .how-it-works .media-wrapper button {
    width: 60px;
    height: 60px;
  }

  .tabbed-content-section .tabbed-content-wrapper .how-it-works .media-wrapper button svg {
    margin-left: 3px;
    width: 20px;
    height: 20px;
  }

  .tabbed-content-section .faq .faq-grid {
    row-gap: 20px;
  }

  .tabbed-content-section .tab-product {
    flex-direction: column;
  }

  .tabbed-content-section .tab-product .image-wrapper {
    max-width: 450px;
  }

  .tabbed-content-section .tab-product .details-wrapper {
    max-width: 100%;
    padding-left: 0px;
  }
}

@media screen and (max-width: 425px) {
  .tabbed-content-section .tabbed-button-wrapper {
    gap: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .tabbed-content-section .tabbed-content-wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }

  .tabbed-content-section .faq .faq-grid .faq-wrapper {
    padding-left: 0px;
  }

  .tabbed-content-section .faq .faq-grid {
    margin-left: 0px;
    width: 100%;
  }

  .tabbed-content-section .pre-made-books .products-grid-wrapper .pre-made-product-card {
    max-width: 100%;
  }

  .tabbed-content-section .tabbed-content-wrapper .how-it-works .text-wrapper .steps-wrapper .step {
    flex-direction: column;
  }

  .tabbed-content-section .tabbed-content-wrapper .how-it-works .text-wrapper .cta {
    width: 100%;
  }

  .tabbed-content-section .examples .img-wrapper {
    width: 50%;
  }

  .tabbed-content-section .examples {
    margin-top: 20px;
  }
}


.tabbed-content-section .tabbed-content-wrapper .build-your-book .product-form {
  display: none;
}